<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <title>资讯-南大家园</title>
  <!-- Bootstrap -->
  <link href="http://d.ncuhome.cn/n/css/bootstrap.min.css" rel="stylesheet">
  <!-- <link href="http://d.ncuhome.cn/n/css/font-awesome.min.css" rel="stylesheet"> -->
  <link href="//cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
  <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
  <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
  <script src="http://d.ncuhome.cn/n/js/ie-emulation-modes-warning.js"></script>
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  <!-- Custom styles for this template -->
  <link href="http://d.ncuhome.cn/n/css/ncuhome.css" rel="stylesheet">
  <script src="//cdn.bootcss.com/vue/1.0.26/vue.min.js"></script>
</head>

<body>
  <!-- 导航 -->
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <a href="#"><img src="images/logo.png" height="43"></a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav  navbar-right">
          <li><a href="ncuhome.html"><i class="fa fa-home fa-fw"></i> 主页</a></li>
          <li class="active"><a href="#about"><i class="fa fa-globe fa-fw"></i> 资讯</a></li>
          <li><a href="#contact"><i class="fa fa-university fa-fw"></i> 教育</a></li>
          <li><a href="#contact"><i class="fa fa-sitemap fa-fw"></i> 管理</a></li>
          <li><a href="#contact"><i class="fa fa-link fa-fw"></i> 资助</a></li>
          <li><a href="http://www.ncuos.com/" target="_blank"><i class="fa fa-mixcloud fa-fw"></i> 云家园</a></li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </nav>
  <!-- 第一屏 -->
  <div id="f02">
    <div class="container">
      <ol class="breadcrumb">
        <li><a href="default.html"><i class="fa fa-home"></i> 主页</a></li>
        <li class="active"><i class="fa fa-globe"></i> 资讯</li>
      </ol>
      <div class="row">
        <!-- 左 -->
        <div class="col-sm-9">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="news">
                <div class="row">
                  <div class="col-sm-4"><img src="images/CgA6C1cVj-6AcknNAAFzFREpEz8688.jpg" class="img-responsive"></div>
                  <div class="col-sm-8">
                    <h4><strong><a href="#">《好色周刊 <i class="fa fa-angle-double-right" aria-hidden="true"></i>第二十期：一大波风光大片</a></strong></h4>
                    <p class="text-muted more">亲爱的好摄之徒们，在大家的支持下， 《好色周刊 <i class="fa fa-angle-double-right" aria-hidden="true"></i>迎来了第20期的更新，感谢大家的支持！ 版版也希望大家都能过参与加进来，将自己的作品分享进来，让大家一起欣赏。 那么今天呢，就来和版版一起欣赏本期的风光摄影作品吧！ <a href="#">全文 <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></p>
                    <p><small class="text-f"><i class="fa fa-globe fa-fw"></i> 资讯 | <i class="fa fa-clock-o fa-fw" ></i> 2016-04-15 12:00:00 | <i class="fa fa-user fa-fw" ></i> 郑胜水</small> </p>
                    <div class="bdsharebuttonbox">
                      <a href="#" class="bds_more" data-cmd="more"></a>
                      <a title="分享到微信" href="#" class="bds_weixin" data-cmd="weixin"></a>
                      <a title="分享到新浪微博" href="#" class="bds_tsina" data-cmd="tsina"></a>
                      <a title="分享到QQ好友" href="#" class="bds_sqq" data-cmd="sqq"></a>
                      <a title="分享到QQ空间" href="#" class="bds_qzone" data-cmd="qzone"></a>
                    </div>
                    <script>
                    window._bd_share_config = {
                      "common": {
                        "bdSnsKey": {},
                        "bdText": "",
                        "bdMini": "2",
                        "bdMiniList": false,
                        "bdPic": "",
                        "bdStyle": "0",
                        "bdSize": "24"
                      },
                      "share": {},
                      "image": {
                        "viewList": ["weixin", "tsina", "sqq", "qzone"],
                        "viewText": "分享到：",
                        "viewSize": "16"
                      },
                      "selectShare": {
                        "bdContainerClass": null,
                        "bdSelectMiniList": ["weixin", "tsina", "sqq", "qzone"]
                      }
                    };
                    with(document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];
                    </script>
                  </div>
                </div>
              </div>
              <hr>
              <div class="news">
                <div class="row">
                  <div class="col-sm-4"><img src="images/CgA6C1cVj-6AcknNAAFzFREpEz8688.jpg" class="img-responsive"></div>
                  <div class="col-sm-8">
                    <h4><strong><a href="#">《好色周刊 <i class="fa fa-angle-double-right" aria-hidden="true"></i>第二十期：一大波风光大片</a></strong></h4>
                    <p class="text-muted more">亲爱的好摄之徒们，在大家的支持下， 《好色周刊 <i class="fa fa-angle-double-right" aria-hidden="true"></i>迎来了第20期的更新，感谢大家的支持！ 版版也希望大家都能过参与加进来，将自己的作品分享进来，让大家一起欣赏。 那么今天呢，就来和版版一起欣赏本期的风光摄影作品吧！ <a href="#">全文 <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></p>
                    <p><small class="text-f"><i class="fa fa-globe fa-fw"></i> 资讯 | <i class="fa fa-clock-o fa-fw" ></i> 2016-04-15 12:00:00 | <i class="fa fa-user fa-fw" ></i> 郑胜水</small> </p>
                    <div class="bdsharebuttonbox">
                      <a href="#" class="bds_more" data-cmd="more"></a>
                      <a title="分享到微信" href="#" class="bds_weixin" data-cmd="weixin"></a>
                      <a title="分享到新浪微博" href="#" class="bds_tsina" data-cmd="tsina"></a>
                      <a title="分享到QQ好友" href="#" class="bds_sqq" data-cmd="sqq"></a>
                      <a title="分享到QQ空间" href="#" class="bds_qzone" data-cmd="qzone"></a>
                    </div>
                    <script>
                    window._bd_share_config = {
                      "common": {
                        "bdSnsKey": {},
                        "bdText": "",
                        "bdMini": "2",
                        "bdMiniList": false,
                        "bdPic": "",
                        "bdStyle": "0",
                        "bdSize": "24"
                      },
                      "share": {},
                      "image": {
                        "viewList": ["weixin", "tsina", "sqq", "qzone"],
                        "viewText": "分享到：",
                        "viewSize": "16"
                      },
                      "selectShare": {
                        "bdContainerClass": null,
                        "bdSelectMiniList": ["weixin", "tsina", "sqq", "qzone"]
                      }
                    };
                    with(document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];
                    </script>
                  </div>
                </div>
              </div>
              <p>
                <button type="button" class="btn btn-lg btn-block btn-danger">加载更多 <i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
              </p>
            </div>
          </div>
        </div>
        <!-- 右 -->
        <div class="col-sm-3">
          <div class="panel panel-default">
            <div class="panel-body">
              <p class="line"><i class="fa fa-search"></i> 站内搜索</p>
              <p>
                <form class="navbar-form">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="请输入关键字">
                    <div class="input-group-btn"> <a class="btn btn-success"><i class="fa fa-search"></i></a> </div>
                  </div>
                </form>
              </p>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-body">
              <p class="line"><i class="fa fa-internet-explorer"></i> 特色应用</p>
              <p><a href="#" class="btn btn-sm btn-info"><i class="fa fa-map-o  fa-fw"></i> 成绩查询</a></p>
              <p><a href="#" class="btn btn-sm btn-success"><i class="fa fa-pencil  fa-fw"></i> 入学教育考试</a></p>
              <p><a href="#" class="btn btn-sm btn-danger"><i class="fa fa-paper-plane  fa-fw"></i> 离/返校登记</a></p>
              <br>
              <p class="line"><i class="fa fa-weixin"></i> 香樟家园</p>
              <p><img src="images/xzjy.jpg" class="img-responsive"></p>
              <p class="text-success text-center"><small>扫一扫关注微信公众号</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="container">
      <p><i class="fa fa-copyright"></i> Powered By <a href="#">家园工作室</a> <small>赣B2-20050168号</small></p>
    </div>
  </footer>
  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="http://d.ncuhome.cn/n/js/jquery.min.js"></script>
  <script src="http://d.ncuhome.cn/n/js/bootstrap.min.js"></script>
  <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
  <!-- <script src="js/holder.min.js"></script>  -->
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="http://d.ncuhome.cn/n/js/ie10-viewport-bug-workaround.js"></script>
</body>
<script>
  new Vue({
    el: 'body',
    data: {
      articleList: null
    }
  })
</script>
</html>
