
<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<title>《好色周刊》第二十期：一大波风光大片</title>

<!-- Bootstrap -->
  <link href="http://d.ncuhome.cn/n/css/bootstrap.min.css" rel="stylesheet">
  <!-- <link href="http://d.ncuhome.cn/n/css/font-awesome.min.css" rel="stylesheet"> -->
  <link href="//cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
  <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
  <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
  <script src="http://d.ncuhome.cn/n/js/ie-emulation-modes-warning.js"></script>
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  <!-- Custom styles for this template -->
  <link href="http://d.ncuhome.cn/n/css/ncuhome.css" rel="stylesheet">
  <script src="//cdn.bootcss.com/vue/1.0.26/vue.min.js"></script>
</head>
<body>

<!-- 导航 -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a  href="#"><img src="images/logo.png" height="43"></a> </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav  navbar-right">
        <li ><a href="#"><i class="fa fa-home fa-fw"></i> 主页</a></li>
        <li class="active"><a href="#about"><i class="fa fa-globe fa-fw"></i> 资讯</a></li>
        <li><a href="#contact"><i class="fa fa-university fa-fw"></i> 教育</a></li>
        <li><a href="#contact"><i class="fa fa-sitemap fa-fw"></i> 管理</a></li>
        <li><a href="#contact"><i class="fa fa-link fa-fw"></i> 资助</a></li>
        <li><a href="#contact"><i class="fa fa-mixcloud fa-fw"></i> 云家园</a></li>
      </ul>
    </div>
    <!--/.nav-collapse --> 
  </div>
</nav>
<!-- 第一屏 -->
<div id="f02" >
  <div class="container">
    <ol class="breadcrumb">
      <li><a href="default.html"><i class="fa fa-home"></i> 主页</a></li>
      <li><a href="list.html"><i class="fa fa-globe"></i> 资讯</a></li>
      <li class="active">《好色周刊》第二十期：一大波风光大片</li>
    </ol>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="article">
          <h2 class="text-center"><strong>《好色周刊》第二十期：一大波风光大片</strong></h2>
          <p class="text-center"><small class="text-f"><i class="fa fa-globe fa-fw"></i> 资讯 | <i class="fa fa-clock-o fa-fw" ></i> 2016-04-15 12:00:00 | <i class="fa fa-user fa-fw" ></i> 郑胜水</small> </p>
          <div class="well text-muted">亲爱的好摄之徒们，在大家的支持下， 《好色周刊》迎来了第20期的更新，感谢大家的支持！ 版版也希望大家都能过参与加进来，将自己的作品分享进来，让大家一起欣赏。 那么今天呢，就来和版版</div>
          <p style="text-align: center;"><a href="http://7te8bu.com1.z0.glb.clouddn.com/uploads/new/article/740_740/201604/571831d84b145.jpg" target="_blank"><img  alt="凯文•凯利亲述：我所知道的Magic Leap（上）"   src="http://7te8bu.com1.z0.glb.clouddn.com/uploads/new/article/740_740/201604/571831d84b145.jpg?imageMogr2/format/jpg/quality/80"/></a></p>
          <p>过去几年，各大媒体和科技公司高管都先后前往Magic Leap公司朝拜，体验混合现实的未来。年初，Magic Leap完成金融史上最高金额的C轮投资：七亿九千三百五十万美金。</p>
          <p>Magic Leap从未发布过任何测试版，甚至对开发者都如此，因此这笔惊人的数额尤为瞩目。除了潜在投资方和指导者，鲜有人被允许观摩设备操作。高额集资与高神秘感，大众的好奇心由此引爆。</p>
          <p>在理解Magic Leap之前，你需要先了解整个科技行业的走向。主要玩家——<a target="_blank" href="/tag/facebook/" title="Facebook">Facebook</a>、谷歌、苹果、亚马逊、微软、索尼、三星都搭建了专门团队投身于虚拟现实，每天都有程序员被招揽其中。单是Facebook就有400多人的VR团队。更不用说献身于硬件和内容的Meta、The Void、Atheer、Lytro和8i等230家公司。</p>
          <p>要想完全欣赏Magic Leap的引力效应，你必须看懂这个正在兴起的行业——每一个虚拟现实和混合现实头显，每项VR相机技术，所有创新的VR应用，测试版VR游戏以及每一个VR社交世界原型。</p>
          <p>过去的五个月，我一直在忙这些。</p>
          <p style="text-align: center;"><a href="http://7te8bu.com1.z0.glb.clouddn.com/uploads/new/article/740_740/201604/571831d94f4cb.jpg" target="_blank"><img  alt="凯文•凯利亲述：我所知道的Magic Leap（上）"   src="http://7te8bu.com1.z0.glb.clouddn.com/uploads/new/article/740_740/201604/571831d94f4cb.jpg?imageMogr2/format/jpg/quality/80"/></a></p>
          <p style="text-align: center;"><span style="font-size: 14px;">Magic Leap用户体验团队，创造用户和虚拟现实世界及体验的交互方式</span></p>
          <p>然后，你将理解虚拟现实技术的根本所在，以及为什么会成就Magic Leap这样史无前例的公司。</p>
          <p>即便未曾体验过虚拟现实，你也很可能幻想过。这是三维现实，逼真地无法判别真假。这将会是尼尔•斯蒂芬森的知名科幻小说《雪崩》里的世界，极具诱惑力的城市现实里，很多人不愿离开。这也将是另一本科幻小说《玩家一号》里的绿洲，一个庞大的星球现实成为学校与工作的中心。</p>
          <h2><span style="font-size: 20px;">长久以来，关于VR有这么多想象，事实上，它要实现了。</span></h2>不过那时VR的大势没有到来。设备费用太高。之后的几十年里，发明者们能提高质量，价格却居高不下。 &nbsp;&nbsp;</p>
          <p><strong>25年后，一个几乎不可能的救世主出现——<a target="_blank" href="http://www.leiphone.com/tag/智能手机" title="智能手机">智能手机</a>！全球范围的大获成功提升了小的高显屏幕质量，成本下降。内置陀螺仪和动作传感器，能被VR显示用来追踪头部、手部以及全身动态，而且价格实在友好！</strong>现在一个现代手机芯片的处理能力相当于当时一台古老的超级计算机，十分轻松地就能将电影导向小屏幕。利用随处可见的便宜屏幕和芯片，少年Palmer Luckey做出了他的第一台VR头显原型，2012年在<a target="_blank" href="/tag/Kickstarter" title="Kickstarter">Kickstarter</a>为Oculus Rift成功<a target="_blank" href="/tag/众筹" title="众筹">众筹</a>。Rift引爆了企业们等待多年的期望，Facebook在2014年以20亿美金收购了这家公司。</p>
          <p>在VR和MR里，体验是新通货。像MagicLeap一样的技术使我们能够产生、传输、量化、细化、个性化、放大、探索、转发和重度分享体验。从信息的创建、传输和消费变换到体验的创建、传输和消费，一个新的平台被重新定义。就像Magic Leap创始人罗尼•阿伯维兹所说的那样，<strong>“我们是内部空间的旅程，我们正在建设存在和体验的互联网”。</strong></p>
          <p style="text-align: center;"><a href="http://7te8bu.com1.z0.glb.clouddn.com/uploads/new/article/740_740/201604/571831daa4861.jpg" target="_blank"><img  alt="凯文•凯利亲述：我所知道的Magic Leap（上）"   src="http://7te8bu.com1.z0.glb.clouddn.com/uploads/new/article/740_740/201604/571831daa4861.jpg?imageMogr2/format/jpg/quality/80"/></a></p>
          <p>就在这时，一个新的创造开始了……</p>
          <div class="alert alert-info" role="alert">
          <p><i class="fa fa-paperclip fa-fw"></i> <a href="#" target="_blank">南昌大学2014-2015学年优秀学生评选结果汇总表.xls</a></p>
          <p><i class="fa fa-paperclip fa-fw"></i> <a href="#" target="_blank">南昌大学2014-2015学年优秀学生评选结果汇总表.xls</a></p></div>
          <p class="text-muted text-right"><small>责任编辑：郑胜水</small></p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<footer class="footer">
  <div class="container">
    <p ><i class="fa fa-copyright"></i> Powered By <a href="#">家园工作室</a> <small>赣B2-20050168号</small></p>
  </div>
</footer>
  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="http://d.ncuhome.cn/n/js/jquery.min.js"></script>
  <script src="http://d.ncuhome.cn/n/js/bootstrap.min.js"></script>
  <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
  <!-- <script src="js/holder.min.js"></script>  -->
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="http://d.ncuhome.cn/n/js/ie10-viewport-bug-workaround.js"></script>
</body>
<script>
  var cid = window.location.search.cid
  new Vue({
    el: 'body',
    data: {
      articleList: null
    }
  })
</script>
</html>
