<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>my cms</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.orange-red.min.css" />
    <link rel="stylesheet" href="./node_modules/quill/dist/quill.snow.css">
  </head>
  <body>
    <div id="app"></div>
    <script src="dist/build.js"></script>
  </body>
  <script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
  <!-- <script src="./node_modules/quill/dist/quill.min.js"></script> -->
</html>
